*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
 /*banner section*/

body {
    /* font-family: 'Handlee', cursive;*/
    font-family: 'Montserrat', sans-serif;


}
.banner{
    overflow: hidden;
    background-image: url(images/donation13.jpg);
    background-position: center;
    background-attachment: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    height: 100vh;
}
.banner-content {

    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        margin-bottom: 150px;

}
.banner-content h1
 {
    color: #fff;
        font-size: 65px;
        letter-spacing: 0px;

}
.white{
    color:rgb(241, 209, 209);
}
.white-color{
    color: rgb(250, 250, 250);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(201, 27, 149),rgb(133, 22, 41));
    padding: 9px 40px;
    font-weight: 60px;
    border-radius: 1px;
    color: white;
}
 /*End-banner section*/

  /* start-donate section*/
.donate{
    
    background-size: cover;
    text-align: center;
    justify-content: center;
    height: 80vh;
}
.donate p{
    color: rgb(26, 24, 24);
    font-size: 15px;
    letter-spacing: 0px;
    padding: center;

}
.donate-content {

    position: absolute;
    top:150%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    margin-bottom: 150px;
    font-family: 'Poppins', sans-serif;

}
.donate-today {
    overflow: hidden;
    background-position: center;
    background-attachment: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    height: 80vh;
}
.donate-content h1 {
    color: rgb(22, 21, 21);
    font-size: 45px;
    letter-spacing: 0px;

}

.black {
    color: rgb(17, 16, 16);
}

.black-color {
    color: rgb(17, 16, 16);
}
.donate-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.donate-tk {
    margin-left: 10px;
    background-color: bisque;
    width: 150px;
    height: 100px;
}
/* end-donate section*/

/* start-amount(middle) section*/
.amount-value {
    border: 2px solid red;
    background-color: lightcoral;
}
.donatenow-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(219, 14, 65), rgb(212, 69, 93));
    padding: 15px 40px;
    font-weight: 7000px;
    border-radius: 10px;
    color: white;
}
.input-div{
    text-align: center;
}

.donate-plan {

    background-size: cover;
    text-align: center;
    justify-content: center;
    height: 80vh;
}

.donate-plan p {
    color: rgb(19, 6, 6);
    font-size: 15px;
    letter-spacing: 0px;
    padding: center;

}

.our-donate-plane {

    position: absolute;
    top: 240%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    margin-bottom: 150px;
    font-family: 'Poppins', sans-serif;

}

.our-donate-plane {
    overflow: hidden;
    background-position: center;
    background-attachment: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    height: 80vh;
}

.donate-plan h1 {
    color: rgb(22, 21, 21);
    font-size: 55px;
    letter-spacing: 0px;

}
.donate-plan p{
    text-align: center;
}

.past {
    color: rgb(136, 63, 63);
}

.past-color {
    color: rgb(43, 12, 12);
}

/* end-amount section*/


.donate-box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 150px;

}
.donate-plan1 {
    margin-left: 20px;
    background-color: bisque;
    width: 300px;
    height: 340px;
}

.donate-plan1 img {
    margin-left: 5px;
    margin-top: 10px;

}

.donate-plan1 h2,
p {
    text-align: left;
    padding-left: 20px;

}
.donate-plan2 {
    margin-left: 20px;
        background-color: rgb(187, 224, 226);
        width: 300px;
        height: 340px;
}

.donate-plan2 img {
    margin-left: 15px;
    margin-top: 30px;

}

.donate-plan2 h2,
p {
    text-align: left;
    padding-left: 20px;

}

.donate-plan3 {
    margin-left: 20px;
    background-color: rgb(240, 233, 154);
    width: 300px;
    height: 340px;
}

.donate-plan3 img {
    margin-left: 15px;
    margin-top: 30px;

}

.donate-plan3 h2,
p {
    text-align: left;
    padding-left: 20px;

}
.our-donate-plane {

    position: absolute;
    top: 240%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    margin-bottom: 150px;
    font-family: 'Poppins', sans-serif;

}
.h1 {
    font-size: 50px;
}
.people-area {
    
    background-repeat: no-repeat;
    background-position: right;
}
.half-width {
    left:50%;
    display:flex;
    width: 40%;
    float: right ;
    margin-left: 5%;
    padding-left: 20%;
}
.half-width-content p{

    font-size: 150%;
    padding: right;
    padding-left: 10%;
    border-radius: 2550%;
    font-family: 'Poppins', sans-serif;
}
section {
    height: 500px;
    padding-bottom: 150px;
}
.half-width-content h2 {
    font-size: 50px;
    padding-left: 14%;
    font-family: 'Poppins', sans-serif;
}
.half-width img {
    height: 400px;
    width: 78%;
    border-radius: 10%;
    padding-right: 10%;
}
/* getmy update- section*/

.update {
    text-align: center;
    margin-top: 20px;
    width: 700px;
    height: 400px;
}

.update p {
    text-align: center;
    font-size: 20px;
}

.update-form {

    background-color: bisque;
    padding: 90px 20px;

}

.update-form input[type=email] {
    background-color: rgb(222, 230, 230);
    border: 2px solid rgb(235, 240, 240);
    padding:20px 35px;


}

.update-form input[type=submit] {
    color: white;
    cursor: pointer;
    background-color: rgb(255, 0, 255);
    border: 1px solid rgb(228, 140, 109);
    padding: 20px 35px;

}
.subscribe-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 190px;

}
.update h1{

    font-size: 60px;
    top:240%;

}
/* end getmy update- section*/

/* start-footer section*/
footer {
    display: flex;
    padding: 3% 50%;
    background: #000a0c;
    color:aliceblue;
    font-family: 'Lobster', cursive;
}
.footer-part-2{

        float:right ;
        display: flex;
        padding: 0% 60%;
        background: #000a0c;
        color: aliceblue;
        font-family: 'Lobster', cursive;
}
